# Hydra configuration for GNN training

# Data settings
train_dir: /workspace/dataset/bin/toy_all_model/train
val_dir: /workspace/dataset/bin/toy_all_model/valid
node_id: 1
global_normalize: False

preload: false
glob: "*.feather"
alpha: 3.0

# Dataloader
batch_size: 64
num_workers: 2

# Model
hidden_size: 256
num_layers: 2
dropout: 0.5
output_size: null
gnn_type: 'GAT' # 'GCN' or 'GAT'

# Optimization
lr: 0.001
weight_decay: 0.0
epochs: 100

# LR / early stopping
lr_patience: 10
lr_factor: 0.9
min_lr: 1e-6
max_lr_reductions: 10
early_stop_patience: 15

# Misc
save_dir: NBE/GNN_GAT
seed: 42
